<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agenda</title>
   <link rel="stylesheet" href="app.css">
</head>

<body>

    <div id="app">

        <div class="menu">

            <select name="meses" id="" v-model="meses">
                <option value="Janeiro">Janeiro</option>
                <option value="Fevereiro">Fevereiro</option>
                <option value="Março">Março</option>
            </select>

            <button @click="btnmenos()"> - </button>
            <p>{{semanas}}</p>
            <button @click="btnmais()"> + </button>

        </div>


        <div class="linha">
            <div v-for="item in calendario" :key="item.index">
                <div class="box" v-if="item.mes === meses && item.semanas === semanas">
                    <p> {{item.datas}}</p>
                    <p> {{item.semana}}</p>
                   
                </div>
            </div>
        </div>




    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js"></script>
    <script src="app.js"></script>

</body>

</html>