<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agenda</title>
   <link rel="stylesheet" href="app.css">
</head>

<body>

    <div id="app">
        <div class="l-full">
            <div class="l-center">
               <div class="header-menu">
                   <p>p</p>
                   <p>p</p>
                   <p>p</p>
               </div>
            </div>
        </div>
        <div class="l-full">
            <div class="l-center">
                <div class="opt">

                    <select name="meses" id="" v-model="meses">
                        <option value="Janeiro">Janeiro</option>
                        <option value="Fevereiro">Fevereiro</option>
                        <option value="Março">Março</option>
                        <option value="Abril">Abril</option>
                        <option value="Maio">Maio</option>
                    </select>
        
                    <button @click="btnmenos()"> - </button>
                    <h4>{{semanas}}º semana</h4>
                    <button @click="btnmais()"> + </button>
        
                </div>
            </div>
        </div>

        
        <div class="container">
            <div class="grid-c4">
                <div v-for="item in calendario" :key="item.index" v-if="item.mes === meses && item.semanas === semanas">
                    <div class="box" >
                        <div class="b-header">
                            <h4> {{item.datas}} : {{item.semana}}</h4> 
                        </div>
                        <p>Nome no mundo</p>
                                     
                    </div>
                </div>
            </div>
        </div>

      


      

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js"></script>
    <script src="app.js"></script>

</body>

</html>